@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

*{
    font-family: "Geist", sans-serif;
}

@keyframes blink-hard {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}